<div class="container-fluid">
  <div>
    <h1 class="text-center">Job Tracker <span class="badge badge-info">{{getNumJobs()}}</span></h1>
  </div>
  <div *ngIf="!selected">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Position</th>
          <th>Company</th>
          <th>Description</th>
          <th>City</th>
          <th>State</th>
          <th>URL</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs" (click)="selectJob(job)">
          <td>{{job.id}}</td>
          <td>{{job.position}}</td>
          <td>{{job.company}}</td>
          <td>{{job.description | trimText:50}}</td>
          <td>{{job.city}}</td>
          <td>{{job.state}}</td>
          <td>
            <a [href]="job.url">{{job.url | trimText:20}}</a>
          </td>
          <td>{{job.source}}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Location</th>
            <th>Total Jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of jobs | totalLocations">
            <td>{{item['name']}}</td>
            <td>{{item['total']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="selected && !editJob">
    <h2>{{selected.position}} at {{selected.company}}</h2>
    <p>Location: {{selected.city + ', ' + selected.state}}</p>
    <p>Source: {{selected.source}}</p>
    <p><a [href]="selected.url">{{selected.url | trimText: 50}}</a></p>
    <p>{{selected.description}}</p>
    <div class="btn-group">
      <button class="btn btn-outline-dark" (click)="selectJob(null)">Back</button>
      <button class="btn btn-primary" (click)="setEditJob()">Edit</button>
      <button class="btn btn-danger" (click)="deleteJob(selected)">Delete</button>
    </div>
  </div>
  <div *ngIf="editJob">
    <form class="form-group">
      <div class="form-row">
        <div class="form-group col">
          <label for="position">Position</label>
          <input class="form-control" type="text" name="position" id="position" [(ngModel)]="editJob.position" placeholder="Position/Title">
        </div>
        <div class="form-group col">
          <label for="company">Company</label>
          <input class="form-control" type="text" name="company" id="company" [(ngModel)]="editJob.company" placeholder="Company">
        </div>
      </div>
      <div class="form-group form-row">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" cols="30" rows="5" [(ngModel)]="editJob.description"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="city">City</label>
          <input class="form-control" type="text" name="city" id="city" [(ngModel)]="editJob.city" placeholder="City">
        </div>
        <div class="form-group col">
          <label for="state">State</label>
          <select class="form-control" name="state" id="state" [(ngModel)]="editJob.state">
            <option *ngFor="let abbrev of stateAbbrevs" [value]="abbrev">{{abbrev}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="url">URL</label>
          <input class="form-control" type="text" name="url" id="url" [(ngModel)]="editJob.url" placeholder="URL">
        </div>
        <div class="form-group col">
          <label for="source">Source</label>
          <input class="form-control" type="text" name="source" id="source" [(ngModel)]="editJob.source" placeholder="(linkedin/indeed/recruiter)">
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-dark" (click)="cancelUpdate()">Cancel</button>
        <button class="btn btn-primary" (click)="updateJob(editJob)">Submit</button>
      </div>
    </form>
  </div>
  <div *ngIf="!selected">
    <div>
      <h3 class="text-center bg-dark col text-light">Add Job</h3>
    </div>
    <form class="form-group">
      <div class="form-row">
        <div class="form-group col">
          <label for="newJob-position">Position</label>
          <input class="form-control" type="text" name="position" id="newJob-position" [(ngModel)]="newJob.position" placeholder="Position/Title">
        </div>
        <div class="form-group col">
          <label for="newJob-company">Company</label>
          <input class="form-control" type="text" name="company" id="newJob-company" [(ngModel)]="newJob.company" placeholder="Company">
        </div>
      </div>
      <div class="form-group form-row">
        <label for="newJob-description">Description</label>
        <textarea class="form-control" name="description" id="newJob-description" cols="30" rows="5" [(ngModel)]="newJob.description"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="newJob-city">City</label>
          <input class="form-control" type="text" name="city" id="newJob-city" [(ngModel)]="newJob.city" placeholder="City">
        </div>
        <div class="form-group">
          <label for="newJob-state">State</label>
          <select class="form-control" name="state" id="newJob-state" [(ngModel)]="newJob.state">
            <option *ngFor="let abbrev of stateAbbrevs" [value]="abbrev">{{abbrev}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="newJob-url">URL</label>
          <input class="form-control" type="text" name="url" id="newJob-url" [(ngModel)]="newJob.url" placeholder="http://...">
        </div>
        <div class="form-group col">
          <label for="newJob-source">Source</label>
          <input class="form-control" type="text" name="source" id="newJob-source" [(ngModel)]="newJob.source" placeholder="(linkedin/indeed/recruiter)">
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-dark" (click)="clearNewJob()">Clear</button>
        <button class="btn btn-primary" (click)="addJob(newJob)">Add New Job</button>
      </div>
    </form>
  </div>

</div>
